.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    width: fit-content;
    max-width: 100%;
    height: 100%;
}

.sorter{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    flex-wrap: nowrap;
    height: 500px;
    width: calc(100vw - 60px)
}

.menu {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: fit-content;
    max-width: calc(100vw - 60px);
}

.column{
    margin: 0 1px;
    background-color: lightgrey;
    width: 10px;
    height: 20%;
}

.length-container, .speed-container{
    width: 150px;
    height: fit-content;
    margin: 0 50px;
}